

body {
  background-color: aliceblue;
  text-align: center;
}
p {
  color: black;
  font-size:20px;
}
h1 {
  font-weight: bold;
  text-align: center;
}

img {
  margin: 15px;
  width:350px;
  border-bottom-left-radius:darkblue; 
  border-style: solid;
  border-color:#8c64ed;
  border-radius: 40px;
}

a {
  font-weight: bold;
  text-decoration: none;
}
.container-1 {
    background: aliceblue;
  display: flex;
  margin: 15px;
  width:450px;
  flex-direction: row;
  justify-content: space-around;
  align-content: space-around;
}
.container-2 {
  background: aliceblue;
  display: flex;
  margin: 15px;
  width:450px;
  flex-direction: row;
  justify-content:space-around;
  align-content: space-around;
}

li{
  color: black;
  font-size:20px;
}
a{
    border-style:solid;
    border-color: darkblue;
    border-radius: 30px;
    padding: inherit;
    text-decoration: none;
  text-align: center;
}
